body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
}

.decorative-strip {
  display: flex;
}

.decorative-strip__item {
  height: 10px;
  width: calc(100%/3);
}

.decorative-strip__item_left {
  background-color: #02B8BF;
}

.decorative-strip__item_center {
  background-color: #1990CE;
}

.decorative-strip__item_right {
  background-color: #07BC83;
}