body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
}

.decorative-strip {
  display: flex;
}

.decorative-strip__item {
  height: 10px;
  width: calc(100%/3);
}

.decorative-strip__item_left {
  background-color: #02B8BF;
}

.decorative-strip__item_center {
  background-color: #1990CE;
}

.decorative-strip__item_right {
  background-color: #07BC83;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-content {
  color: #116089;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.header-content__row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header-content__logo {
  padding-top: 10px;
  
}

.header-content__logo h1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  /* text-shadow: 2px 4px 8px rgb(0 0 0 / 60%); */
  margin: 0;
}

.header-content__logo span {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
}

.header-content__logo span:nth-child(2) {
  color: #02B8BF;
}

.header-content__logo span:nth-child(3) {
    color: #1990CE;
}

.header-content__logo span:nth-child(4) {
  color: #07BC83;
}

.header-content__address {
  position: relative;
}

.header-content__address p {
  margin: 0;
}

.header-content__address p::before {
  content: "";
  position: absolute;
  left: -25px;
  width: 20px;
  height: 20px;
  background: url(../img/map-location-icon.svg) 0 0 no-repeat;
}

.header-content__appointment {
  position: relative;
}

.header-content__appointment p::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 2px;
  width: 20px;
  height: 20px;
  background: url(../img/phone-icon.svg) 0 0 no-repeat;
}

.header-content__appointment p {
  font-weight: 700;
  margin: 0;
}

.header-content__appointment a {
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  letter-spacing: 0.25px;
  transition-duration: 0.5s;
}

.header-content__appointment a:hover {
  color: #02B8BF;
}

.menu {
  padding: 14.2px 0;
  background-color: #F2F2F2;
}

.menu__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu__list li {
  margin-right: 25px;
}

.menu__list a {
  text-decoration: none;
  color: #333333;
  transition-duration: 0.5s;
}

.menu__list a:hover {
  color: #02B8BF;
}